<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue"></script>
    <title>Document</title>
</head>
<body>
<div class="sample">
    <h2> {{ title }}</h2>
    <div v-if="showContent">
        <p> users </p>
        <ul>
            <li v-for="user in users" :key="user.id">{{user.id}} {{ user.name}} {{ user.age}}</li>
        </ul>
    </div>
    <button @click="getContent"> show</button>
</div>
<script>
    Vue.createApp({
        data() {
            return {
                title: 'MOUNTED',
                showContent: false,
            }
        },
        methods: {
            getTime () {
                console.log (Date.now().toLocaleString())
            }
        },
        created() {
            this.getTime();
        },
        mounted() {
            this.getTime();
        }

    }).mount('.sample');

</script>
</body>

</html>